## import packages

In [1]:
import sqlalchemy as db

## Set up the connection

In [2]:
# Set up connection
engine = db.create_engine("sqlite:///McDo.db")
connection = engine.connect()

## Meta Data

## Create tables

In [43]:
# Create a metadata object
metadata = db.MetaData()


restaurant_table = db.Table(
    "Restaurant",
    metadata,
    db.Column("nbr_de_places", db.Integer()),
    db.Column("espace_enfant", db.Integer()),
    db.Column("service_de_payement", db.String(35)),
    db.Column("accessebilite_mobilite_reduite", db.Integer()),
    db.Column("parking", db.Integer()),
    db.Column("numero_tel_resto", db.Integer()),
    db.Column("siret", db.Integer()),
    db.Column("id_resto", db.Integer(), primary_key = True),
)

adresse_table = db.Table(
    "Adresse",
    metadata,
    db.Column("city", db.String(35), nullable=False),
    db.Column("lat", db.Integer(),nullable=True),
    db.Column("lng", db.Integer()),
    db.Column("pays_resto", db.String(35), nullable=False),
    db.Column("id_resto", db.Integer(), db.ForeignKey("Restaurant.id_resto")),
    db.Column("code_postale", db.Integer(), primary_key = True)
)


# id_personnel,nom,prenom,date_de_naissance,num_telephone_perso,email,rib,adresse_perso,ville_perso,code_postale_perso,date_entree,status_employee,en_formation,nbr_de_changement_poste,nbr_de_changement_resto,pays_perso,id_resto
PERSONNELS_table = db.Table(
    "Personnels",
    metadata,
    db.Column("id_personnel", db.Integer(), primary_key = True),
    db.Column("nom", db.Integer(), default = 0),
    db.Column("prenom", db.String(35), default=1),
    db.Column("date_de_naissance", db.Integer(),default=1),
    db.Column("num_telephone_perso", db.Integer(),nullable=False),
    db.Column("email", db.Integer(), nullable=False),
    db.Column("rib", db.Integer(), nullable=False),
    db.Column("adresse_perso", db.Integer(), nullable=False),
    db.Column("ville_perso", db.Integer(), nullable=False),
    db.Column("code_postale_perso", db.Integer(), nullable=False),
    db.Column("date_entree", db.Integer(), nullable=False),
    db.Column("status_employee", db.String(35), default=1),
    db.Column("en_formation", db.Integer(),default=1),
    db.Column("nbr_de_changement_poste", db.Integer(),nullable=False),
    db.Column("nbr_de_changement_resto", db.Integer(), nullable=False),
    db.Column("pays_perso", db.String(35), nullable=False),
    db.Column("id_resto", db.Integer(), db.ForeignKey("Restaurant.id_resto")),
)

comptabilite_table = db.Table(
    "Comptabilite",
    metadata,
    db.Column("num_de_transaction", db.Integer(), primary_key = True),
    db.Column("mois", db.String(35), nullable=False),
    db.Column("annee", db.String(35), nullable=False),
    db.Column("nbr_heures_de_tavail", db.Integer(),nullable=False ),
    db.Column("montant_historique", db.Integer(), nullable=False),
    db.Column("note_manager", db.String(35), nullable=False),
    db.Column("id_personnel", db.Integer(), db.ForeignKey("Personnels.id_resto"))
)

carte_table = db.Table(
    "Carte",
    metadata,
    db.Column("pays_resto", db.Integer(), primary_key = True),
    db.Column("id_item", db.Integer(), db.ForeignKey("items.id_item")),
    db.Column("id_menu", db.String(35), db.ForeignKey("menu.id_menu")),

)

menu_table = db.Table(
    "Menu",
    metadata,
    db.Column("id_menu", db.Integer(), primary_key = True),
    db.Column("plat", db.String(35), db.ForeignKey("Items.id_item")),
    db.Column("boisson", db.String(35), db.ForeignKey("Items.id_item")),
    db.Column("dessert", db.String(35), db.ForeignKey("Items.id_item")),
    db.Column("prix_ventre_menu", db.Integer() ),
)  

items_table = db.Table(
    "Items",
    metadata,
    db.Column("id_item", db.Integer(), primary_key = True),
    db.Column("nom_item", db.Integer(), db.ForeignKey("Restaurant.id_resto")),
    db.Column("boisson_taille", db.String(35), nullable=False),
    db.Column("prix_vente_item", db.Integer(), nullable=False),
)

association_table = db.Table(
    "Association",
    metadata,
    db.Column("id_association", db.String(50), primary_key = True),
    db.Column("id_ingredient", db.Integer(), db.ForeignKey("Restaurant.id_resto")),
    db.Column("id_item", db.Integer(), nullable=False)
)

 


ingredients_table = db.Table(
    "Ingredients",
    metadata,
    db.Column("id_ingredient", db.Integer(), primary_key = True),
    db.Column("id_resto", db.Integer(), db.ForeignKey("Restaurant.id_resto")),
    db.Column("nom_ingredient", db.String(35), nullable=False),
    db.Column("prix_achats", db.Integer(), nullable=False),
    db.Column("quantite", db.Integer(),  nullable=True),
    db.Column("prix_total", db.Integer(), nullable=False),
)

stock_association_table = db.Table(
    "Stockassociation",
    metadata,
    db.Column("id_table_asso_stock", db.String(50), primary_key = True),
    db.Column("stock_quantite", db.String(35), nullable=False),
    db.Column("id_resto", db.Integer(), db.ForeignKey("Restaurant.id_resto")),
    db.Column("id_ingredient", db.String(35), db.ForeignKey("Ingredients.id_ingredient")),
)

facture_association_table = db.Table(
    "Facture_association",
    metadata,

    db.Column("id_association", db.String(50), primary_key = True),
    db.Column("id_facture", db.Integer(), db.ForeignKey("Facture.id_facture")),
    db.Column("id_item", db.String(35), db.ForeignKey("Items.id_item")),
    db.Column("id_menu", db.String(35), db.ForeignKey("Menu.id_menu")),
 
)

facture_table = db.Table(
    "Facture",
    metadata,
    db.Column("id_facture", db.String(50), primary_key = True),
    db.Column("date", db.String(35), nullable=False),
    db.Column("heure", db.String(35), nullable=False),
    db.Column("payement_type", db.String(35), nullable=False),
    db.Column("borne", db.Integer(), nullable=True),
    db.Column("prix_total", db.Integer(), nullable=False),
    db.Column("id_personnel", db.Integer(), db.ForeignKey("Personnels.id_vendeur")),
    db.Column("nom_item", db.String(35), nullable=False),    
    db.Column("prix_vente_item", db.Integer(), nullable=False),
    db.Column("prix_vente_menu", db.Integer(), nullable=False),
    db.Column("id_resto", db.Integer(), nullable=False),
    
)


# Log the tables as they are created
for table in metadata.tables.keys():
    print(f"{table} successfully created")
metadata.create_all(engine)

Restaurant successfully created
Adresse successfully created
Personnels successfully created
Comptabilite successfully created
Carte successfully created
Menu successfully created
Items successfully created
Association successfully created
Ingredients successfully created
Stockassociation successfully created
Facture_association successfully created
Facture successfully created

In [5]:
import pandas as pd
output = connection.execute("""SELECT pays_perso, code_postale_perso, count(id_personnel) FROM Personnels 
                            GROUP BY pays_perso, code_postale_perso; """)
df = pd.DataFrame(output)
df["departement"] = df["code_postale_perso"]

# SELECT client, SUM(tarif)
# FROM achat
# GROUP BY client

     pays_perso  code_postale_perso  count(id_personnel)
0        France               56001                    4
1        France               56002                    2
2        France               56018                    2
3        France               56020                    2
4        France               56022                    2
..          ...                 ...                  ...
856       Italy               56987                    2
857       Italy               56988                    4
858       Italy               56998                    2
859       Italy               56999                    2
860  pays_perso  code_postale_perso                    1

[861 rows x 3 columns]