# Créer la base de données avec Sqlite

### Créer une base de donées

```sql sqlite3 McDo.db ```

## CREATE TABLE Example

```sql
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);
```

## Showing tables using the sqlite command line shell program

```sql
.tables 
```

## Import a CSV File Into an SQLite Table
https://www.sqlitetutorial.net/sqlite-import-csv/

First, drop the cities table that you have created.
```sql
DROP TABLE IF EXISTS cities;
```
Second, use the following CREATE TABLE statement to create the table cities.
```sqlt
CREATE TABLE cities(
  name TEXT NOT NULL,
  population INTEGER NOT NULL 
);
```
If the table already exists, the sqlite3 tool uses all the rows, including the first row, in the CSV file as the actual data to import. Therefore, you should delete the first row of the CSV file.

The following commands import the city_without_header.csv file into the cities table.
```sql
.mode csv
.import c:/sqlite/city_no_header.csv cities
```

In column mode, each record is shown on a separate line with the data aligned in columns. For example:

```sql

.mode column
select * from cities;
```